.zoomCard {
    transition: transform 0.3s; 

  }

 
  .zoomCard:hover {
    transform: scale(1.05); 
  }
  
  .productContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .botonDetalles{
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   padding: 20px;
   margin: 20px;

   
  }
  